@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 1rem;
}

li {
    font-family: 'Oswald', sans-serif;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
}

opt:checked {
    text-decoration: line-through;
}