* {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: calc(100% - 2rem);
    padding: 0;
    margin: 0;
}

.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 1rem;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: auto;
}

.title-hr {
    margin-bottom: 2rem;
}

.content-title>.title-a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #00000000;
    cursor: pointer;
    transition: 0.5s;
}

.content-title>.title-a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.setting {
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
}

.page-information {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
}

footer>hr {
    max-width: 620px;
    width: auto;
}

.wrap {
    position: relative;
    min-height: calc(100% - 140px);
    padding-bottom: 140px;
  }

footer {
    position: absolute;
    max-width: 620px;
	margin: 0 auto;
	padding: 1rem;
    width: 100%;
    height: 140px;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-hr {
    margin: 1rem 0;
}

.github {
    cursor: pointer;
}

.blog {
    cursor: pointer;
}

.other {
    margin-bottom: 0.3rem;
}